@import "base.css";

.wrapper {
  width: 45em;
}

.title {
  text-align: center;
  margin: 4em;
}

.title h1 {
  font-size: 6em;
  margin: 0;
}

.title h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
}

.instructions .download * {
  display: inline-block;
}

.instructions .download {
  text-align: center;
  margin: 4em 0;
}

.main h2 {
  text-transform: uppercase;
  font-size: 2em;
}

.main h3 {
  font-size: 1.5em;
}

pre,
.download code {
  background: #222;
  color: #F0F0F0;
  line-height: 1.5em;
  display: block;
}

pre a,
.download code a {
  color: #aaa;
  text-decoration: none;
}

pre a:hover,
.download code a:hover {
  color: #ccc;
  text-decoration: underline;
}

pre {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
}

.download code {
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
  border-radius: 41px;
  padding: 1em 2em;
}

.shell-output {
  color: #888;
  font-style: italic;
}
