@import "base.css";

.online {
  float: right;
}

.broadcast-status::before {
  content: "\25CF"; /* ● */
  margin-right: 0.3em;
  color: #999;
}

.broadcast-status.live::before {
  color: #2ecc40;
}

.broadcast-status.offline::before {
  color: #cc4030;
}

header {
  text-align: left;
}

.title {
  font-size: 2em;
  margin: 0;
}

#terminal,
.terminal {
  background-color: black;
  color: rgb(240, 240, 240);
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  padding: 5px;
  overflow: hidden;
}

.reverse-video {
  color: #000000;
  background: #ccc;
}
