@import "vendor/cssreset.css";
@import "vendor/cssbase.css";

html, body {
  height: 100%;
}

body {
  max-width: 1140px;
  min-width: 748px;
  margin: 0 auto;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

a, a:visited {
  color: black;
}

a:hover {
  color: #999;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

header {
  padding: 5px;
  text-align: center;
}

.main {
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #333333;
  width: 100%;
}

.title {
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.title h1 {
  font-size: 6em;
  margin-bottom: 0;
}

.title a {
  text-decoration: none;
  color: black;
}

.title h2 {
  font-size: 1.5em;
}

.title-shell {
  font-weight: normal;
}

.title-share {
  font-weight: bold;
}

.instructions .download * {
  display: inline-block;
}

.instructions .download {
  text-align: center;
}

pre,
.download code {
  background: #f7f7f7;
}

section {
  margin: 4em 0;
}

footer {
  margin: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}

pre {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.download code {
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
  border-radius: 41px;
  padding: 1em 4em;
}

pre {
  padding: 1em;
  line-height: 1.5em;
}

.shell-output {
  color: #666;
  font-style: italic;
}

/* ROOM */
.online {
  float: right;
}

.room header {
  text-align: left;
}

.room .title {
  font-size: 2em;
  margin: 0;
}

#terminal,
.terminal {
  background-color: black;
  color: rgb(240, 240, 240);
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  padding: 5px;
  overflow: hidden;
}

.reverse-video {
  color: #000000;
  background: #ccc;
}
