footer
  p.
    shellshare is a free software (Apache License).
    Source code on <a href="https://github.com/vitorbaptista/shellshare">GitHub</a>.
  p Made by <a href="http://vitorbaptista.com">Vitor Baptista</a>.
