doctype html
html
  head
    title shellshare
    meta(charset='utf-8')
    if isDev
      link(rel='stylesheet', href='/stylesheet/style.css')
    else
      link(rel='stylesheet', href='/stylesheet/style.min.css')
  body
    .wrapper
      header
        block header
      .main
        block main
      block scripts
      include footer
