doctype 5
html
  head
    title shellshare
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ansi2html.css')
  body
    .wrapper
      .header
        include header
      #main
        block content
