doctype html
html
  head
    title shellshare
    meta(charset='utf-8')
    if isDev
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheet/vendor/cssreset.css')
      link(rel='stylesheet', href='/stylesheet/vendor/cssbase.css')
      link(rel='stylesheet', href='/stylesheet/index.css')
    else
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheet/index.min.css')
    link(rel='icon' type='image/png' href='/favicon.png')
  body.instructions-macos
    .wrapper
      header
        block header
      .main
        block main
      block scripts
      include footer
    if isDev
      script(src='/javascript/index.js' async defer)
    else
      script(src='/javascript/index.min.js' async defer)
