doctype 5
html
  head
    title shellshare
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ansi2html.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
  body
    .header
      include header
    #main
      block content
