doctype html
html
  head
    title shellshare
    meta(charset='utf-8')
    if isDev
      link(rel='stylesheet', href='/stylesheet/vendor/cssreset.css')
      link(rel='stylesheet', href='/stylesheet/vendor/cssbase.css')
      link(rel='stylesheet', href='/stylesheet/ansi2html.css')
      link(rel='stylesheet', href='/stylesheet/room.css')
    else
      link(rel='stylesheet', href='/stylesheet/ansi2html.min.css')
      link(rel='stylesheet', href='/stylesheet/room.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Inconsolata')
    link(rel='icon' type='image/gif' href='/favicon.gif')
  body
    .wrapper
      header
        .online
          span#online-counter 0
          |  user
          span#online-counter-plural s
          |  online
        h1.title
          a(href='/')
            span.title-shell shell
            span.title-share share
      .main
        #terminal
      include footer
  if isDev
    script(src='/javascript/room.bundle.js' async defer)
  else
    script(src='/javascript/room.bundle.min.js' async defer)
