body {
  background: black;
  margin: 0px;
}

.header {
  background: #fffffd;
  padding: 5px;
  font-family: ‘Lucida Console’, Monaco, monospace;
}

.title {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.online {
  float: right;
}

.terminal {
  font-family: 'Inconsolata', monospace;
  font-size: 12px;
  padding: 5px;
  overflow: hidden;
}

.reverse-video {
  color: #000000;
  background: #ccc;
}
