<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <title>shellshare - live terminal broadcast</title>
  <meta charset="utf-8">
  <meta name="description" content="Shellshare allows you to broadcast your terminal live with a single command.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="shellshare: live terminal broadcast">
  <meta property="og:site_name" content="shellshare">
  <meta property="og:description" content="Shellshare allows you to broadcast your terminal live with a single command.">
  <meta property="og:image" content="/shellshare-og-image.png">
  <link href="https://shellshare.net" rel="canonical">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheet/vendor/cssreset.css">
  <link rel="stylesheet" href="/stylesheet/vendor/cssbase.css">
  <link rel="stylesheet" href="/stylesheet/index.css">
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="instructions-macos">
  <div class="wrapper">
    <header>
      <hgroup class="title">
        <h1><span class="title-shell">shell</span><span class="title-share">share</span></h1>
        <h2>Live terminal broadcast</h2>
      </hgroup>
    </header>
    <div class="main">
      <section class="instructions">
        <div class="download">
          <code>
            <span class="macos">curl -sLo</span>
            <span class="linux">wget -qO</span>
            shellshare <a href="https://get.shellshare.net">https://get.shellshare.net</a> &amp;&amp; chmod +x shellshare &amp;&amp; ./shellshare
          </code>
          <nav class="operating-systems">
            <input type="radio" id="os-linux" name="os" value="linux">
            <label for="os-linux"><i class="fa fa-2x fa-linux"></i></label>
            <input type="radio" id="os-macos" name="os" value="macos" checked>
            <label for="os-macos"><i class="fa fa-2x fa-apple"></i></label>
          </nav>
        </div>
        <h3>What is it?</h3>
        <p>Shellshare allows you to broadcast your terminal live with a single command.</p>
        <h3>How to use?</h3>
        <p>Open a terminal and write:</p>
        <pre><code>$ <span class="macos">curl -sLo</span><span class="linux">wget -qO</span> shellshare https://get.shellshare.net
$ chmod +x shellshare
$ ./shellshare
<span class="shell-output">Sharing terminal in https://shellshare.net/r/EPbZJ7VZNakS9vwUlS</span>
$ # Everything you do now will be broadcast live on the URL above.
$ # When you're done, hit CTRL+D
$ exit
<span class="shell-output">End of transmission.</span></code></pre>
      </section>
      <section class="faq">
        <h2>Frequently asked questions</h2>
        <h3>Can someone control my terminal through shellshare?</h3>
        <p>No. All communication is just one-way: from your terminal to shellshare. There's no way someone could send commands to your terminal. If you'd like to allow it, try <a href="https://savannah.gnu.org/projects/screen">screen</a> or <a href="https://tmux.github.io/">tmux</a> (specially with <a href="http://tmate.io">tmate</a>).</p>
        <h3>Can I save the broadcast?</h3>
        <p>No. Shellshare was made only for live broadcasts. If you'd like to save your terminal, try <a href="https://asciinema.org">asciinema.org</a>.</p>
        <h3>Can I broadcast to a custom room name?</h3>
        <p>Yes. You can broadcast to a named room secured with a password by calling shellshare as:</p>
        <pre><code>$ <span class="macos">curl -sLo</span><span class="linux">wget -qO</span> shellshare https://get.shellshare.net
$ chmod +x shellshare &amp;&amp; ./shellshare --room MY-ROOM --password MY-PASS
<span class="shell-output">Sharing terminal in https://shellshare.net/r/MY-ROOM</span>
$ # ...
$ exit
<span class="shell-output">End of transmission.</span></code></pre>
        <p>If you don't set a password, shellshare will use your network card's MAC address to uniquely identify your computer. This means you'll be able to transmit to the same room later only if you're using the same computer.</p>
        <h3>Can I recover the password to a custom room?</h3>
        <p>No. However, the rooms are deleted after a day of inactivity, so you can recreate it in 24 hours.</p>
        <h3>Can I run shellshare on Windows?</h3>
        <p>Yes. We have pre-built binaries for Linux, macOS (Intel and Apple Silicon), and Windows. When you download from <a href="https://get.shellshare.net">https://get.shellshare.net</a>, we automatically detect your operating system and give you the correct binary.</p>
        <p>You can also pass the <code>os</code> query parameter to explicitly download a specific binary. The options are <code>linux</code>, <code>windows</code>, <code>mac</code> and <code>mac-arm</code>. For example, if you want to download the Linux binary regardless of your operating system, access <a href="https://get.shellshare.net/?os=linux">https://get.shellshare.net/?os=linux</a>.</p>
        <h3>I found a problem! What do I do?</h3>
        <p>Please, open an issue at our <a href="https://github.com/vitorbaptista/shellshare/issues">issues page</a> describing what the problem was, your shellshare version, and your operating system.</p>
        <h3>How can I help?</h3>
        <p>Great! Any help is appreciated. Check out the code on <a href="https://github.com/vitorbaptista/shellshare">GitHub</a> and the <a href="https://github.com/vitorbaptista/shellshare/issues">issues page</a>. If you find anything that could be improved, go ahead, create an issue and send me a pull request.</p>
      </section>
    </div>
    <footer>
      <p>shellshare is a free software (Apache License). Source code on <a href="https://github.com/vitorbaptista/shellshare">GitHub</a>.</p>
      <p>Made by <a href="http://vitorbaptista.com">Vitor Baptista</a>.</p>
    </footer>
  </div>
  <script src="/javascript/index.js" async defer></script>
</body>
</html>
